@import url("https://fonts.googleapis.com/css?family=Teko|Hind");

body {
  margin: 20px;
  font-family: 'Teko';
  color: #FFFFFF;
  background-color: #000000;
}

p {
  font-family: 'Hind';
  /* padding: 0px 0px 0px 25px; */
}

h2 {
  font-size: 90px;
  font-weight: bolder;
  color: #8A2BE2;
}

h3 {
  font-size: 40px;
  padding: 0px 0px 0px 20px;
}

h4 {
  font-family: 'Hind';
  font-size: 15px;
  text-align: center;
  padding: 0px 1000px 0px 0px;
  line-height: 0;
}

.section {
  padding: 50px 0px 10px 10px;
  font-size: 90px;
  font-weight: bolder;
  color: #8A2BE2;
}

.tableimage {
  padding: 25px 0px 50px 0px;
}

.tabletext {
  padding: 0px 0px 0px 25px;
}

.creditTable {
  padding: 0px 30px 0px 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.creditText {
  color: #8A2BE2;
  font-size: 28px;
}

.creditNames {
  font-size: 26px;
  font-family: 'Hind';
  /* text-align: center; */
}

#banner {
  /* position: absolute; */
  /* margin: 0 auto; */
  display: block;
}

.downloadButton {
  background-color: #000;
  border: 0px;
}

.nav {
  margin: 0;
  /* overflow: hidden; */
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav a {
  font-family: 'Teko';
  margin: 0;
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 30px;
}

.nav a:hover {
  /* background-color: #8A2BE2;
  color: black; */
  color: #8A2BE2;
}

.nav-right {
  float: right;
}

.tagline {
  padding: 5px 0px 0px 75px;
  color:white;
  font-size: 50px;
  font-style: italic;
}

.content {
  /* margin-top: 30px; */
  padding-left: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  flex-basis: 70%;
  order: 2;
}

.text {
  margin: 0px 100px 0px 100px;
  font-size: 100px;
  text-align: center;
  color: #8A2BE2;
  line-height: 50px;
  font-weight: 900;
  /* font-style: italic; */
  /* padding-left: 1020px; */
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.num {
  font-size:40px;
  color:#8A2BE2;
  padding: 25px 15px 0px 50px;
  font-weight: bold;
}
